
Domain constants
----------------

| const | value |
|-------|-------|
{{range .DomainSpecs.StringConsts}}| {{.Key}} | {{.Value}} |
{{end}}


{{range .DomainSpecs.Enums}}
enum {{.Name}}
---------

{{range .StringMembers}}
- {{.}}{{end}}
{{end}}
