Each and every `Event` additionally has the following common meta data:

- Timestamp, in UTC, the event was raised on
- ID of the user that caused that event


{{range .DomainSpecs.Events}}
{{.Event}}
-------

{{if .Changelog}}
Changelog:
{{range .Changelog}}
- {{.}}{{end}}
{{end}}

| key | type | notes |
|-----|------|-------|
{{range .Fields}}| {{.Key}} | {{.Type.Name}} | {{.Notes}} |
{{end}}
{{end}}
