
body {
	margin: 50px;
	/*	scroll always visible, because it's ugly if dynamically new stuff if shown
		which would add scrollbar, whole document re-flows because document width narrows
	*/
	overflow-y: scroll;
}

.margin-left {
	margin-left: 8px;
}

.fauxlink {
	cursor: pointer;
}

.hovericon {
	cursor: pointer;
	opacity: 0.7;
}

.hovericon:hover {
	opacity: 1.0
}
