{{range .CommandSpecs}}
{{.Command}}
----------

| Details         |                 |
|-----------------|-----------------|
| Title           | {{.Title}}      |
| Anonymous usage | {{.Anonymous}}  |

| Field | Type | Optional |
|-------|------|----------|
{{range .Fields}}| {{.Key}} | {{.Type}} | {{.Optional}} |
{{end}}
{{end}}
