REST endpoints
==============

| Path | Middleware | Input | Output | Notes |
|------|------------|-------|--------|-------|
{{range .ApplicationTypes.Endpoints}}| {{.HttpMethod}} {{.Path}} | {{.MiddlewareChain}} | {{if .Consumes}}{{.Consumes.AsTypeScriptType}}{{end}} | {{if .Produces}}{{.Produces.AsTypeScriptType}}{{end}} | {{.Description}} |
{{end}}

Datatypes are as follows:


{{range .ApplicationTypes.Structs}}
type {{.Name}}
-----

```
{{.AsTypeScriptCode}}
```
{{end}}

